<div class="container" id="maindiv">
    <div class="row_modification">
        <div class="row p1">
            <div class="col-md-4 box_small box_large col-lg-2">
                <a href="/api">
                    <div class="main_box text-center">
                        <img src="/images/33.jpg" class="img-fluid" alt="Admin panel">
                        <span class="box_item_name">User group Assign</span>
                    </div>
                </a>
            </div>
            <div class="col-md-4 box_small box_large col-lg-2">
                <a href="/adminTable">
                    <div class="main_box text-center">
                        <img src="/svg/contact.svg" class="img-fluid box_feather_icon"><br>
                        <span class="box_item_name">Admin Table</span>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>