<!-- used for temporary purpose but most important -->
<!Doctype html>
    <head>
        <%- include('../common/cdn') %>
        <title>Template</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/sidebar.css"> 
        <link rel="stylesheet" href="/css/footer.css"> 
</head>
<body>
<%- include('../common/header') %>

<h1>Something went wrong.. Error in database fetching.</h1>
The error is =  <%=error%> .

<%- include('../common/footer') %> 

</body>
</html>
