<!-- used for temporary purpose but most important -->
<!Doctype html>
    <head>
        <%- include('../common/cdn') %>
        <title>Template</title>
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/sidebar.css"> 
        <link rel="stylesheet" href="/css/footer.css"> 
</head>
<body>
<%- include('../common/header') %>
<%- include('../common/footer') %> 

</body>
</html>
