<footer id="footer_toggle" class="footer footer_padding_forced ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-7">
                <div class="portal_info">
                    This is the portal developed by L&T DCCS Delivery team.
                </div>
            </div>
            <div class="col-md-5">
                <i class="fa fa-copyright copyright_icon" aria-hidden="true"></i>
                <span class="team_brand_size">2022-23 L&T DCCS Registered Portal </span>
            </div>
        </div>
    </div>
</footer>